type project
developmentDependency true

releasenotes
  FEATURE: GU0017 don't use discarded.

projectUrl https://github.com/GuOrg/Gu.Analyzers
licenseUrl http://opensource.org/licenses/MIT

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools


