type project
developmentDependency true

releasenotes
  FEATURE: Member of internal class should be internal, analyzer + fix.

projectUrl https://github.com/GuOrg/Gu.Analyzers
licenseUrl http://opensource.org/licenses/MIT

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools


