type project
developmentDependency true

releasenotes
  FEATURE: GU0007 handle singletons.
  BUGFIX GU0012: ignore out parameters.

projectUrl https://github.com/GuOrg/Gu.Analyzers
licenseUrl http://opensource.org/licenses/MIT

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools


